@using System.Threading
@using MovieShopWepApp.Models
@using ServiceGateway.Entities
@model UserViewModel

@{
    ViewBag.data = "Index";
}
<h3></h3>
<div id="Menu" class="nav-side-menu">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Sortering
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Genres <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                @foreach (Genre genre in @Model.Genres)
                {
                    <li class="active">
                        <a onclick="FilterMovies(@genre.Id)">@genre.Name</a>
                        @*@Ajax.ActionLink(genre.Name, "GetMoviesResult", new {id = genre.Id}, null);*@
                    </li>
                }
            </ul>
        </ul>
    </div>
</div>

<div style="width: 100%; height: 78vh" id="osterlaekkert">
    @{ Html.RenderPartial("PartialMovieView", Model.Movies);}
</div>

<script type="text/javascript">
    var FilterMovies = function (genreId) {
        $.ajax({
            dataType: "html",
            url: '@Url.Action("GetMoviesResult")',
            data: { id: genreId },
            success: function (data) {
                $('#osterlaekkert').html(data);
            },
            error: function () {
                $('#osterlaekkert').html("<h3>Couldn't do that</h3>");
            }
        }
    )};

</script>  


